.projects {
    margin-bottom: 200px;
}

.projects__header {
    @media screen and (max-width: 1000px) {
        text-align: center;
    }
}

.projects__title {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}