.projects {
    padding: 30px 0 30px 0;
    border-radius: 20px;
    margin: 40px 0 40px 0;

    @media screen and (max-width: 1000px) {
        padding: 0;
    }
}

.projects__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.projects__loading {
    display: flex;
    justify-content: center;
}

.loadingCard {
    color: var(--main-text-color);
}