@media (prefers-color-scheme: dark) {
    :root {
        //dark color
        --color-yellow: #faf87d;
        --color-lavender: #333539;
        --background-color: #474A51;
        --main-text-color: white;
        --main-text-hover-color: black;
        --border-color: white;
        --svg-color: white;
        --shadow-color: rgba(255, 255, 255, 0.9);
        --focus-color: #faf87d;
        --light-logo: none;
        --dark-logo: block;

        & p, a, h1, h2, h3, h4 {
            color: var(--main-text-color);
        }
    }
}